* {
    margin: 0;
    padding: 0;
}

/* navigation bar  */




#navbar {
    display: flex;
    position: relative;

    background-color: #3b3636;

}

#navbar img {
    width: 65px;
    height: 100%;
}

/* #mid{
    position: relative;
    background-color: red;
} */
#mid ul {
    display: flex;

}

#mid ul li {
    list-style: none;
    padding: 23px 23px;

}

#mid ul li a {
    display: block;
    border-radius: 12px;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 6px 26px;
    color: white;
}

#mid ul li a:hover {
    display: block;
    background: rgb(29, 24, 24);
    /* cursor: pointer; */
}

#right {

    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;
}

.button-color {
    background-color: red;
}

button {
    border: 3px solid #bc7d7b;
    margin: 0px 4px;
    padding: 4px 14px;
    font-size: 18px;
    cursor: pointer;
    /* background-color: black; */
    color: rgb(22, 18, 18);
    border-radius: 10px;
}

/* home Section */



#home-section{
    display: flex;
}
#home1{

    width: 50%;
    padding: 131px 0px;
    background-color: orange;
}
#home{
    width: 50%;
    margin: 12px; 
    padding: 131px 3px;
    /* text-align: center; */
    /* background-color: rgb(225, 222, 227); */
}
#home1 img{
    /* border: 2px solid red; */
    margin: -54px;
    transform: rotate(-4deg);
    border-radius: 18px;
    size: 232px;
    height: 332px;

    
}
/* about section */
 h1{
    text-align: center;
    font-size: 45px;
    margin: 22px 2px;
    color: rgb(44, 36, 68);
    /* text-transform: uppercase; */
    text-shadow: 5px 10px 12px black;
}
#about{
    display: flex;
}
.about-container{
    width: 50%;
}
.about-container strong{
    color: red;
}
.about-container h2{
    font-size: 36px;
    padding: 0px 38px;
    

}
.about-container p{
    
    padding: 0px 38px;
    
    
}
.about-container img{
    
    margin: 24px 38px;
    border-radius: 18px;
    /* size: 232px; */
    height: 432px;
}
.dark-mode {
    background-color: black;
    color: white;
  }
  .light-mode {
    background-color: white;
    color: black;
    
  }
  body {
    /* padding: 25px; */
    background-color: white;
    color: black;
    font-size: 17px;
  }
  h3{
    background-color: #3b3636;
    color: white;
    /* display: block; */
    height: fit-content;
    padding: 6px 15px;
  }
 
/* menu section for this website */
#menu-section {
    text-align: center;
}
/* Here we set margin, padding,etc for the menu buttons */
.button{
    border-radius:23px;
    margin: 30px 10px;
}
.button:hover{
    /* border-radius:23px; */
    background-color: orangered;
    
}
button.active{
    
    border-radius:23px;
    background-color: orangered;

}
/* menu item container section */
#menu{
    display: flex;
    justify-content: center;
}

.menu-item-container{
    /* border: 2px solid rebeccapurple; */
    margin: 2px 4px;
    text-align: center;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.menu-item-container p{
  text-align: center;
}
.box img{
    height: 200px;
}

